@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#container {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
}

#startButton {
    margin-top: 10rem;
    padding: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    border: .2rem solid black;
}

#slideshow {
    display: none;
    height: 30rem;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 30px solid whitesmoke; */
    /* border-bottom: 100px solid lightgray; */
    padding: 50px;
    padding-bottom: 120px;
    box-shadow: 0 0 30px rgb(183, 180, 180);
    /* box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; */
}

.quotes {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #startButton {
        font-size: 3rem;
    }

    #slideshow {
        width: 80%;
        height: auto;
        padding: 20px;
        padding-bottom: 80px;
    }

    .quotes {
        font-size: 1.5rem;
    }
    
}
